#primero{ 
background-color: rgb(51, 165, 255);
}
#PRIMER{
background-color: blue;
display: block;
margin: left;
width: 200px;
height: 200px;
overflow: scroll;
}
#SEGUNDO{
    background-color: brown;
    display: block;
    margin: left;
    width: 200px;
    height: 200px;
    overflow: scroll;

}