body{
    padding: 0px;
    margin: 0px;
    border:none;
    width: 100%;
    background-color: #2fe0f9

}



.formulario{
    margin: 0 auto;
    align-content: center;
    width: 500px;

}